/*config de ambas as pag*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: #960C9D;
}

#banner {
    background-color: #6C0B70;
    width: 100%;
    color: aliceblue;
    display: flex;
    align-items: center;
    padding: 0 5% 0;
    justify-content: space-between;
    height: 100px;
}

.link {
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
}

.link:hover {
    color: #ffde59;
    background-color: #4f0057;
    border-radius: 5px;

}

.button-login {
    color: #4f0057;
    background-color: #e3ca65;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

.button-login:hover {
    background-color: #645722;
    color: white;
}

.usu-button {
    color: #ffde59;
    background-color: #4f0057;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-decoration: none;
}

.usu-button:hover {
    color: white;
    background-color: #400147;
    padding: 10px;
    text-decoration: none;
}

.log_img {
    max-width: 300px;
    height: auto;
    display: block;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.usu_icone {
    width: 40px;
    height: auto;
}

/*pag inicial*/

.noticia-container {
    width: 80%;
    margin: auto;
    padding: 30px;
    text-align: center;
    overflow: hidden;
    color: #ccc;
    background-color: #960C9D;
}

.button_novidade {
    text-align: center;
}

.not-button {
    display: inline-block;
    width: 250px;
    margin-top: 20px;
    background-color: #e3ca65;
    color: #000000;
    border-radius: 50px;
    padding: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
    position: relative;
    border: 0;
}

.not-button:disabled {
    background-color: #4f0057;
    cursor: not-allowed;
    color: #ccc;
}

.not-button:disabled:hover {
    background-color: #4f0057;
    color: #ccc;
}

.not-button:hover {
    background-color: #645722;
    text-decoration: none;
    color: white;
}

.noticia {
    display: none;
    text-align: justify;
    font-size: 18px;
}

.noticia.ativa {
    display: block;
    text-align: justify;
    font-size: 18px;
}

.noticia.ativa p {
    text-indent: 40px;
}

.svgcolor {
    margin-bottom: -10px;
    background-color: #292a35;
}

.html {
    padding: 30px;
    background-color: #292a35;
    display: grid;
    place-items: center;
    color: white;
    margin-top: -50px;

}

.html h1 {
    font-size: 70px;
    padding: 10px;
}

.button_curso {
    display: inline-block;
    width: 250px;
    margin-top: 20px;
    background-color: #A4C8E1;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    padding: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.button_curso:hover {
    background-color: #1e435e;
    color: white;
}

#layout {
    color: aliceblue;
    background-color: #38444d;
    height: 400px;
    width: 600px;
    margin: 20px;
    border-radius: 7px;
    justify-content: center;
    text-align: center;

}

#layout h1 {
    font-size: 20px;
    margin: 20px;
    text-align: center;

}

.one {
    margin: 10px;
    background-color: #292a35;
    color: rgb(225, 138, 225);
    font-size: 15px;
    padding: 10px;
    text-align: left;
    height: 230px;
}

.cinza {
    color: rgb(110, 110, 110);
}

.cinza1 {
    color: rgb(110, 110, 110);
    margin-left: 20px;
}

.txex {
    color: white;
}

.azul {
    color: #A4C8E1;
    margin-left: 20px;
}

.azul1 {
    color: #A4C8E1;
}

.amarelo {
    color: #e3ca65;
}

.button_teste {
    display: inline-block;
    background-color: #6C0B70;
    color: white;
    border-radius: 50px;
    padding: 6px;
    width: 200px;
    transition: background-color 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.button_teste:hover {
    background-color: #ffde59;
    color: #292a35;
    text-decoration: none;
}

.html_c {
    padding: 30px;
    background-color: #586571;
    display: grid;
    place-items: center;
    color: white;

}

.html_c h1 {
    font-size: 70px;
    padding: 10px;
}

.html_j {
    padding: 30px;
    background-color: #292a35;
    display: grid;
    place-items: center;
    color: white;
}

.html_j h1 {
    font-size: 70px;
    padding: 10px;
}

.text-port {
    text-indent: 50px;
}

.svgcolor_r {
    margin-bottom: -10px;
    background-color: #292a35;
}

#conteiner {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #292a35;
}

.cx1 {
    text-decoration: none;
    padding: 70px;
    border-radius: 10px;
    display: inline-block;
    min-width: 400px;
    background-color: #A4C8E1;
    max-width: 900px;
    color: #000000;
}

.cx2 {
    text-decoration: none;
    padding: 70px;
    border-radius: 10px;
    display: inline-block;
    width: 400px;
    background-color: #e3ca65;
}

.cx1:hover {
    background-color: #1e435e;
    transition: background-color 0.3s;
    color: white;
}

.cx2:hover {
    background-color: #645722;
    transition: background-color 0.3s;
    color: white;
}

.item {
    text-align: center;
    font-weight: bolder;
    margin: 10px;
}

/*pag aulas*/

.banner2 {
    width: 100%;
    height: 26px;
    overflow: hidden;
    text-align: center;
}

.banner2 a {
    color: rgb(0, 0, 0);
    padding: 50px;
    text-decoration: none;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.banner2 a:hover {
    background-color: #e3ca65;
}

.video-principal {
    padding-top: 30px;
    text-align: center;
    background-color: #292a35;
}

#youtube-video {
    width: 50%;
    height: 380px;
}

#containeraulas {
    background-color: #586571;
}

section {
    height: auto;
    padding: 20px;
    border: 1px solid #40004d;
    margin: 20px 0;
    text-align: center;
    color: white;
    font-size: 50px;
}

.play-button img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}