*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    height: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px 0;
}
.log_img{
    width: 60%;
  height: auto;
}
#banner{
    background-color: rgb(75, 0, 173);
    width: 100%;
    color: aliceblue;  
    display: flex;
    align-items: center;
    padding: 0 5% 0 ;
    justify-content: space-between;
    height: 120px;
}
.navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
a{
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
}

a:hover{
    color: rgb(255, 145, 0);
    background-color: rgb(102, 0, 197);
    border-radius: 15px;

}

.T{
    text-align: center;
    padding: 10px;
    font-size: 65px;
}
input[type="text"],
        input[type="password"],
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color:rgb(75, 0, 173);
            color: white;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color:rgb(255, 55, 38);
        }

        .container {
            text-align: center;
        }
.link{
    color: black;
}
.selbar{
    text-align: center;
}
.t{
    text-align: center;
    padding: 15px;
}