@charset "UTF-8";
body{
    background-color: aliceblue;
}

.img{
    width: 150px;
    height: auto;
    padding: 20px;
}

.t{
    display: flex;
    justify-content: space-between;
    list-style: none;
   
}

.usertop{
    display: flex;
}

div.conteiner {
    display: flex;
    flex-flow: row wrap;
    
}

div.item {
    background-color: #ffde59;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    text-decoration:underline;
    font-weight: bolder;
    
}

div#cx {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 200px;
    height: 20vh;
    
}

