body {
    font-family: Arial, sans-serif;
    background-color: #3c073e;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;

}

form {
    background-color: #6C0B70;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ffffff;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    border-radius: 90px;
    width: 30%;
    background-color: #ffde59;
    border: 1px solid #ffde59;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3a063b;
    color: #ffffff;
}

.container {
    text-align: center;

}

.log_img {
    max-width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #ffde59;
}

/* PAG LOGIN */

.h1{
    text-align: center;
}

.bot_al{
    text-align: center;
}

.up_bot{
    text-align: center;
}

.al{
    text-align: center;
}

button[type="button"] {
    border-radius: 90px;
    width: 30%;
    background-color: #ffde59;
    border: 1px solid #ffde59;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ffffff;
    border-radius: 15px;
    box-sizing: border-box;
}

button[type="button"]:hover {
    background-color: #3a063b;
    color: #ffffff;
}

button[type="submit"] {
    border-radius: 90px;
    width: 30%;
    background-color: #ffde59;
    border: 1px solid #ffde59;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ffffff;
    border-radius: 15px;
    box-sizing: border-box;
}

button[type="submit"]:hover {
    background-color: #3a063b;
    color: #ffffff;
}

.stybot{
    border-radius: 90px;
    width: 30%;
    background-color: #ffde59;
    border: 1px solid #ffde59;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ffffff;
    border-radius: 15px;
    box-sizing: border-box;
}
