/*config de ambas as pag*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: #960C9D;
}

#banner {
    background-color: #6C0B70;
    width: 100%;
    color: aliceblue;
    display: flex;
    align-items: center;
    padding: 0 5% 0;
    justify-content: space-between;
    height: 100px;
}

.link {
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
}

.link:hover {
    color: #ffde59;
    background-color: #4f0057;
    border-radius: 5px;

}

.button-login {
    color: #4f0057;
    background-color: #e3ca65;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

.button-login:hover {
    background-color: #645722;
    color: white;
}

.usu-button {
    color: #ffde59;
    background-color: #4f0057;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-decoration: none;
}

.usu-button:hover {
    color: white;
    background-color: #400147;
    padding: 10px;
    text-decoration: none;
}

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.button_altsenha {
    display: inline-block;
    width: 250px;
    margin-top: 20px;
    background-color: #e3ca65;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    padding: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.log_img {
    max-width: 300px;
    height: auto;
    display: block;
}

.usu_icone {
    width: 40px;
    height: auto;
}

.usertop{
 text-align: center;
}

.img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    padding: 20px;
}

div.conteiner {
    display: flex;
    flex-flow: row wrap;
    
}

div.item {
    background-color: #ffde59;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    text-decoration:underline;
    font-weight: bolder;
    
}

div#cx {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 200px;
    height: 20vh;
    
}

.txex{
    color: white;
}

.text {
    text-align: justify;
    margin: 30px;
    font-size: 20px;
    color: #ffe993;
}

.t {
    text-align: center;
    padding: 15px;
    font-size: 30px;
    color: #ffe993;

}

